@font-face { font-family: Jura; src: url('fonts/Jura-VariableFont_wght.ttf'); } 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1d1b27;
    line-height: 1.5;
    font-family: Jura, sans-serif;
    color: #eee;
}
hr {
    color: #eee;
}
#wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
}
footer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 20px 25px 20px;
    /*background-color: #414141;*/
    color: #eeeeee;
    bottom: 0;
}